<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <title>User</title>
</head>
<body>
    <h1>User {{user.id}}</h1>
    <p>Full Name: {{user.first_name}} {{user.last_name}}</p>
    <p>Email: {{user.Email}}</p>
    <p>Created at: {{user.Created_At}}</p>
    <a href="/users">Go Back</a>
    |
    <a href="/users/{{user.id}}/edit"> Edit </a> 
    |
    <a href="/users/{{user.id}}/destroy"> Delete </a>

</body>
</html>